.main_heading {
  text-shadow: 2px 2px 2px deepskyblue;
}

.mainBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  margin-bottom: 8vh;
  margin-top: 5vh;
}

.btn1 {
  background-color: rgb(223, 223, 223);
  border-radius: 25px;
  font-size: 18px;
  width: 20vw;
  height: 6vh;
}

.btn1:hover {
  background-color: yellow;
  cursor: pointer;
}

.btn1:active {
  background-color: yellowgreen;
}

.btn2 {
  background-color: rgb(159, 255, 255);
  border-radius: 25px;
  font-size: 18px;
  width: 20vw;
  height: 6vh;
}

.btn2:hover {
  background-color: yellow;
  cursor: pointer;
}

.btn2:active {
  background-color: yellowgreen;
}

.card1 {
  background-color: rgb(97, 211, 211);
  border-radius: 25px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 25%;
  height: 25vh;
}

.card2 {
  background-color: rgb(255, 205, 253);
  border-radius: 25px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 25%;
  height: 25vh;
}
